<section class="reviews">
  <h1 class="reviews-title">REVIEWS</h1>

  <div class="results-container">
    <ul class="coments-list"></ul>
  </div>
  <div class="btn-section">
    <button class="btn-prev btn-prev-hidden">
      <svg class="svg-reviews" width="24px" height="24px">
        <use href="./img/svg-icons/symbol-defs.svg#icon-arrow-left2"></use>
      </svg>
    </button>
    <button class="btn-next btn-next-hidden">
      <svg width="24px" height="24px">
        <use href="./img/svg-icons/symbol-defs.svg#icon-arrow-right2"></use>
      </svg>
    </button>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
